body {
    background-color: rgb(136, 127, 127);
}

main {
    background-color: rgb(216, 206, 206);
}

h1 {
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color: rgb(21, 21, 167);
    text-align: center;
}

p {
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(74, 74, 74);
    text-align: center;
}
